@media (width >= 768px){
  .header {
    width: 100%;
    height: 40vh;
    position: relative;
    overflow: hidden;
  
    background-image: linear-gradient(rgba(0, 115, 255, 0.264), rgba(199, 219, 255, 0.231)), url(../assets/imagenes/fondo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

    .nav__close,
.nav__open {
  display: none;
}
    .nav__items {
        display: flex;
        flex-direction: unset;
        align-items: unset;
        justify-content: unset;
        position: unset;
        padding: unset;
        background-color: unset;
        width: unset;
        max-width: unset;
        right: unset;
        height: unset;
        border-radius: unset;      
        top: unset;    
        transform: unset;
        transition: unset;
        z-index: unset;
      }
      .nav__link{
        color: #ffffff;
        font-weight: 600;
        margin-right: 1em;
      }
      
    
}